{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block navbar '' %}
{% block headline %}Bienvenido/a!{% endblock headline %}
{% block header %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Comedores Sociales</a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        {{ knp_menu_render('main') }}
      </div>

    </div>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="span9">
    <strong>Texto de prueba</strong>
</div>
<div class="span3">
    {% block content_sidebar %}
    <h2>Barra lateral</h2>
    {% endblock content_sidebar %}
</div>
{% endblock content %}

{% block footer %}
    [ FOOTER ]
{% endblock footer %}

