{% extends '::frontend.html.twig' %}

{% block headline %}Cambiar contraseña{% endblock headline %}

{% block content %}
    
    <form class= "form" action="{{ path('user_change') }}" method="post" {{
        form_enctype(form) }}>

        {{ form_errors(form) }}
        <legend>Cambiar contraseña</legend>
        <p>
            Escriba su antiagua contraseña, asi como proporcionar una nueva:
        </p>
        {{ form_widget(form) }}
        <div class="control-group">
            <input class="btn btn-primary" type="submit" value="Enviar" />
        </div>
    </form>

{% endblock content %}