{% if error %}
	<div>{{ error.message }}</div>
{% endif %}
<form action="{{ path('user_login_check') }}" method="post">
	<label for="username">Usuario:</label>
	<input type="text" id="username" name="_username" value="{{ last_username }}" />
	<label for="password">Contraseña:</label>
	<input type="password" id="password" name="_password" />
	<input type="submit" name="login" value="Acceder" />
</form>