{% if error %}
	<div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('user_login_check') }}" method="post">
    <label for="username">Usuario:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
	<br>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="_password" />
	<br>
    <input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Recordarme</label>
	<br>
    <input type="submit" name="login" />
</form>