
 {% extends '::frontend.html.twig' %}

{% block headline %}Formulario de registro{% endblock headline %}

{% block content %}

   <form class= "form-horizontal" action="{{ path('user_register') }}" method="post" {{
      form_enctype(form) }}>

      {{ form_errors(form )}}

      <fieldset>
         <legend>Datos de usuario</legend>
         {{ form_rest(form) }}
      </fieldset>
      <input class="btn btn-primary" type="submit" value="Recuperar" />
   </form>

{% endblock content %}