{% extends '::frontend.html.twig' %}

{% block headline %}Pantry register{% endblock headline %}

{% block content %}

    <form action={{ path('pantry_register') }} method="POST" {{ form_enctype(form) }}>
        {# render the task's only field: description #}
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">Register</button>
        </p>
    </form>

{% endblock content%}